a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* __header__ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header__logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header__menu-link.current {
  position: relative;
  color: #404bbf;
}

.header__menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.curent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header__info {
  font-style: normal;
}

.header__logo-black {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__menu-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__menu-link:active,
.header__contacts-link:hover,
.header__contacts-link:focus,
.header__contacts-link:active {
  color: #404bbf;
}

.header__contacts-link {
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ___main___ */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background_hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.hero__button {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  margin-top: 48px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}

.services__top {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.services__title {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.about-us {
  background-color: #f4f4fd;
}

.about-us__title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.about-us__item {
  background-color: #ffffff;
}

.about-us__name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.about-us__position {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio__title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio__name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio__text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* __footer__ */

.footer {
  background-color: #2e2f42;
}

.footer__logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.footer__logo-black {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

/* __flex__ */

.container--decore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__contacts-item:last-child {
  margin-right: 0;
}

.container--decore a {
  padding: 24px 0;
}

.hero {
  padding: 188px 0;
  text-align: center;
}

.services__title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.services__top {
  margin-bottom: 8px;
}

.services__item {
  width: calc((100% - 72px) / 4);
}

.services {
  padding: 120px 0;
}

.about-us {
  padding: 120px 0;
}

.about-us__title {
  margin-bottom: 72px;
}

.about-us__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about-us__item {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.about-us__social-link:focus {
  background-color: #404bbf;
}

.about-us__item:last-child {
  margin-right: 0;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.about-us__wrapper {
  text-align: center;
  padding: 32px 0;
}

.about-us__name {
  margin-bottom: 8px;
}

.portfolio {
  padding: 120px 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio__wrapper {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio__name {
  margin-bottom: 8px;
}

.portfolio__item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer {
  padding: 100px 0;
}

.footer__logo-link {
  margin-bottom: 16px;
}

/* ________section2_____________________ */

.services__wrapper {
  background-color: #f4f4fd;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.services__icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* section our team */

.about-us__icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #f4f4fd;
}

.about-us__social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us__social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.about-us__social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__social-link:hover,
.about-us__social-links:focus {
  background-color: #404bbf;
}

/* ____portfolio____ */

.portfolio__overlay-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 296px;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__overlay-text,
.portfolio__item:focus .portfolio__overlay-text {
  transform: translateY(0%);
}

/* ___footer______ */

.footer__title {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  font-size: 16px;
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer__social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #31d0aa;
}

.footer__social-list {
  display: flex;
  gap: 16px;
}

.footer__text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__info {
  margin-right: 120px;
}
